            <h4 class="h4 my-3 text-center">
                Control Panel
            </h4>
            <ul class="list-group ">
                <li class="list-group-item">
                    <a asp-controller="Blog" asp-action="Create" class="btn btn-outline-primary w-100">
                        Create a new blog
                    </a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="BlogEntry" asp-action="Create" class="btn btn-outline-primary w-100">
                        Add a new blog entry
                    </a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="Blog" asp-action="Delete" class="btn btn-outline-primary w-100">
                        Delete a blog
                    </a>
                </li>
            </ul>