@if(TempData["logged"]!=null)
{
    <h3 class="h3 text-success">@TempData["logged"]</h3>
}
@if(TempData["registered"]!=null)
{
    <h3 class="h3 text-success">@TempData["registered"]</h3>
}
@if(TempData["expired"]!=null)
{
    <h3 class="h3 text-success">@TempData["expired"]</h3>
}