@{
    ViewData["Title"] = "Delete a blog";
}
@{
}
@model Blog
@* if (ViewBag.loggedUserID == null) return; *@

<section>
    <h2 class="display-4 my-4 text-center">
        Delete a blog
    </h2>
        <div class="row justify-content-between">
            <div class="col-md-5 col-lg-3 pt-5">
                <h3 class="h5 my-4 text-center">
                    Choose a blog you want to delete:
                </h3>
               <div id="managedBlogList" class="list-group my-3">
                    @foreach(Blog blog in ((IEnumerable<Blog>)ViewData["ManagedBlogs"]!).ToArray<Blog>().Reverse())
                    {
                        <a asp-route-id="@blog.BlogID" class="list-group-item list-group-item-action @(Model==blog ? "active" : "")">
                            @blog.Title
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-7 col-lg-8 p-5 text-center">
                <h3></h3>

                    <div class="text-start">
                        <form method="post">
                            <div class="mb-4">
                                <label for="blogid" asp-for="BlogID" class="form-label"></label>
                                <input type="text" asp-for="BlogID" class="form-control text-muted" id="blogid" readonly placeholder="Your unique blog id... (choose the blog on the left)">
                                <span asp-validation-for="BlogID" class="text-danger small"></span>
                            </div>

                            <div class="mb-4">
                                <label for="title" asp-for="Title" class="form-label"></label>
                                <input type="text" asp-for="Title" class="form-control text-muted" readonly id="title" placeholder="Your blog title...">
                                <span asp-validation-for="Title" class="text-danger small"></span>
                            </div>
                    
                            <div class="mb-4">
                                <label for="ownerid" asp-for="OwnerID" class="form-label"></label>
                                <input type="text" asp-for="OwnerID" class="form-control text-muted" readonly id="ownerid" placeholder="Blog owner ID...">
                                <span asp-validation-for="OwnerID" class="text-danger small"></span>
                            </div>

                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-lg btn-danger" @(Model==null ? "disabled" : "")>Delete the blog</button>
                            </div>
                        </form>
                    </div>

            </div>
        </div>
</section>