@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Blog>
@* if (ViewBag.loggedUserID == null) return; *@

<p>You are logged as @Context.Session.GetString("CurrentUser")</p>

<section>
    <div class="row mt-5">

        <div class="col-md-4 col-lg-2">
            <h4 class="h4 mb-5">
                Control Panel
            </h4>
            <ul class="list-group ">
                <li class="list-group-item">
                    <a asp-action="Recent" class="btn btn-outline-primary w-100">
                        Browse All Blogs
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-primary w-100">
                        Show Your Blogs
                    </a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Create" class="btn btn-outline-primary w-100">
                        Create a new blog
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-primary w-100">
                        Manage Blogs
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-lg-10 bg-light bg-opacity-50 row">
            <div class="col-lg-3">
                <h3 class="h5 my-4 text-center">
                    Choose a blog to display:
                </h3>
                <div class="list-group my-3">
                    @foreach(Blog blog in Model)
                    {
                        <a asp-route-id="@blog.BlogID" class="list-group-item list-group-item-action @((string?)ViewData["DisplayedBlogId"]==blog.BlogID ? "active" : "")">
                            @blog.Title
                        </a>
                    }
                </div>
            </div>
            <div class="col-lg-9 bg-light">
                lalala
            </div>
        </div>
    </div>
</section>