@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BlogEntry
@* if (ViewBag.loggedUserID == null) return; *@

<section>
    <h2 class="display-4 my-4 text-center">
        Add a new blog entry
    </h2>
        <div class="row justify-content-between">
            <div class="col-md-5 col-lg-3 pt-5">
                <h3 class="h5 my-4 text-center">
                    Choose a blog you want to add to:
                </h3>
               <div id="managedBlogList" class="list-group my-3">
                    @foreach(Blog blog in (IEnumerable<Blog>)ViewData["ManagedBlogs"]!)
                    {
                        <a href="#" @*asp-route-id="@blog.BlogID"*@ data-blogid="@blog.BlogID" class="list-group-item list-group-item-action @((string?)ViewData["ManagedBlogId"]==blog.BlogID ? "active" : "")">
                            @blog.Title
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-7 col-lg-8 p-5 text-center">
                <h3></h3>

                <div class="tab-content">
                        <div class="text-start">
                            <form method="post">
                                <div class="mb-4">
                                    <label for="blogid" asp-for="BlogID" class="form-label"></label>
                                    <input type="text" asp-for="BlogID" class="form-control text-muted" id="blogid" readonly placeholder="Your unique blog id... (choose the blog on the left)">
                                    <span asp-validation-for="BlogID" class="text-danger small"></span>
                                </div>
                        
                                <div class="mb-4">
                                    <label for="blogentryid" asp-for="BlogEntryID" class="form-label"></label>
                                    <input type="text" asp-for="BlogEntryID" class="form-control" id="blogentryid" placeholder="Your unique blog entry id...">
                                    <span asp-validation-for="BlogEntryID" class="text-danger small"></span>
                                </div>

                                <div class="mb-4">
                                    <label for="title" asp-for="Title" class="form-label"></label>
                                    <input type="text" asp-for="Title" class="form-control" id="title" placeholder="Your blog entry title...">
                                    <span asp-validation-for="Title" class="text-danger small"></span>
                                </div>

                                <div class="mb-4">
                                    <label for="content" asp-for="Content" class="form-label"></label>
                                    <textarea asp-for="Content" class="form-control" id="content" placeholder="The content of your blog entry..."></textarea>
                                    <span asp-validation-for="Content" class="text-danger small"></span>
                                </div>

                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-secondary">Create a new entry</button>
                                </div>
                            </form>
                        </div>
                </div>

            </div>
        </div>
</section>
<script>
    var blogList = document.querySelectorAll("#managedBlogList a");
    var blogId = document.querySelector("#blogid");
    blogList.forEach(element => {
        element.addEventListener("click", () => {
            blogId.value = element.dataset.blogid;
            blogList.forEach(el => { el.classList.remove("active"); });
            element.classList.add("active");
        })
    });
</script>